#photos
{
  position: relative;
}
#bc
{
  position: relative;
  width: 100%;
}
#featured
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  color: white;
  font-size: large;
  text-align: center;
}
#cc
{
  position: relative;
  width: 100%;
}
#ul {
  display: none
}
#ur
{
  display: none
}
#cr
{
  display: none
}
#lr
{
  position: relative;
  width: 225px;
}

@media only screen and (min-width: 900px) {
  #photos {
    width: 900px;
    height: 1044px;
  }
  #featured
  {
    position: absolute;
    left: 125px;
    top: 750px;
    width: 650px;
  }
  #bc
  {
    position: absolute;
    left: 0px;
    top: 600px;
    width: 900px;
  }
  #cc
  {
    position: absolute;
    left: 225px;
    top: 0px;
    width: 450px;
    height: 600px;
  }
  #ul {
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 0px;
    width: 225px;
    height: 600px;
  }
  #ur
  {
    position: absolute;
    display: inline-block;
    left: 675px;
    top: 0px;
    width: 225px;
    height: 245px;
  }
  #cr
  {
    position: absolute;
    display: inline-block;
    left: 675px;
    top: 245px;
    width: 225px;
    height: 125px;
  }
  #lr
  {
    position: absolute;
    left: 675px;
    top: 370px;
    width: 225px;
    height: 230px;
  }
}

#featured img
{
  padding: 2px;
  border: 5px solid gray;
  background-color: blue;
}

.splash
{
  padding: 0;
  margin: 0;
}
